@use '../../assets/styles/index' as *;

.login-page {
  min-height: 100vh;
  @include flex-center;
  background: linear-gradient(135deg, $clr-black 0%, $clr-black-h 100%);
  padding: 2rem;

  @include respond-to(mobile) {
    padding: 1rem;
  }
}