@use '../../assets/styles/index' as *;

.footer {
  background: $clr-black-h;
  padding: 1.5rem;
  text-align: center;
  border-top: 1px solid rgba($clr-white, 0.1);

  .paragraph {
    opacity: 0.7;
    font-size: 0.875rem;
  }
}