@use "./variables" as v;

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
}

a {
  color: inherit;
  text-decoration: none;
}

.header--primary {
  font-size: clamp(2rem, 1.6rem + 2vw, 4rem);
  color: v.$clr-white;
}

.header--secondary {
  font-size: clamp(0.825rem, 0.379rem + 1.19vw, 1.45rem);
  color: v.$clr-blue;
  font-weight: 400;
}

.header--secondary--white {
  font-size: clamp(0.825rem, 0.379rem + 1.19vw, 1.45rem);
  color: v.$clr-white;
  font-weight: 400;
}

.header--tertiary {
  font-size: clamp(1.25rem, .7rem + 1.3vw, 2.5rem);
  font-weight: 600;
  color: v.$clr-white;
}

.header--tertiary--black {
  font-size: clamp(1.25rem, .7rem + 1.3vw, 2.5rem);
  font-weight: 600;
  color: v.$clr-black;
}

.paragraph,
.paragraph--gray,
.paragraph--black{
  font-size: clamp(0.75rem, 0.405rem + 0.959vw, 1rem);
}

.paragraph {
  color: v.$clr-white;
}

.paragraph--gray {
  color: v.$clr-gray;
}

.paragraph--black {
  color: v.$clr-black;
}