// Colors
$clr-white: rgb(255, 255, 255);
$clr-white-lt: rgba(255, 255, 255, .5);
$clr-blue: rgb(51, 102, 255);
$clr-blue-lt: rgb(51, 102, 255, .6);
$clr-black: rgb(17, 17, 17);
$clr-black-h: rgb(9, 9, 9);
$clr-gray: rgb(121, 121, 121);
$clr-red: rgb(255, 63, 63);

// Font
$font-family: 'Inter', sans-serif;