@use "../../assets/styles/index" as i;

.benefit-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: i.$clr-black-h;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;

  @include i.respond-to(tablet) {
    max-height: 20rem;
    flex-direction: row;

    &:nth-child(even){
      flex-direction: row-reverse;

      .benefit-card__image {
        border-radius: 0 10px 10px 0;
      }
    }
  }

  &__image {
    max-width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;

    @include i.respond-to(tablet) {
      border-radius: 10px 0 0 10px;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding:  1.4rem .7rem;

    @include i.respond-to(tablet) {
      align-items: center;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    &-item {
      display: flex;
      align-items: center;
      text-align: start;
      margin-top: 1rem;


      img {
        transform: scale(.6);
      }
    }
  }
}